@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Condensed:wght@700&display=swap");
@import "./partials/_vars.scss";
@import "./partials/_header.scss";
@import "./partials/_main.scss";
@import "./partials/_footer.scss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: $main-fonts;
    color: #fff;
}

.container {
    margin: auto;
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $h-fonts;
    font-weight: bold;
}
